<html>
<head>
    <title>CURD operations</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<style>
    .jumbotron{
        margin-top: 100px;
        margin-right: 100px;
        margin-left: 100px;
        padding-left: 40px;
    }
    a{
        margin-left: 150px;
    }
</style>
<body>
<div class="jumbotron">
    <a href="/Insert/">Insert</a>
    <a href="/Retrieve/">Retrieve</a>
    <a href="/Update/">Update</a>
    <a href="/Delete/">Delete</a>

</div>
</body>
</html>